*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    background: seagreen;
}
.bk{
    width: 90%;
    height: 105vh;
    margin: auto;
    background-color: #017143;
    box-shadow: #b4f0d7;
}

.logo{
    width: 80px;
    margin-left: 30px;
    margin-top: 30px;
}
.nav .menu{
    float: right;
    display: flex;
    margin-top: -80px;
    padding-right: 70px;
}
.menu li{
    cursor: pointer;
    list-style: none;
    color: aliceblue;
    margin: 25px;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.1em;
}
.grn{
    background: seagreen;
    padding: 4px 12px;
    color: #fff;
    border-radius: 35px;
    /* font-weight: 500; */
}
.img_1{
    width: 25%;
    float: right;
    margin-right: 20%;
    margin-top: -20rem;
    transform: scale(0.9);
}
.circle{
    position: absolute;
    top: 0;
    left: 0; 
    width: 95%;
    height: 105vh;
    background: rgb(241, 127, 127);
    /* background: #017143; */
    clip-path: circle(600px at right 750px);
}
h2{
    color: aliceblue;
    margin-top: 90px;
    font-size: 3rem;
}
p{
    width: 49%;
    color: #fff;
}
span{
    cursor: pointer;
    /* color: rgb(33, 136, 77); */
    color: chocolate;
    font-weight: 800;
}

.inform_sec{
    margin-left: 50px;
}
button{
    padding: 0 8px;
    background: seagreen;
    color: #fff;
    border: none;
}
.icons li{
    cursor: pointer;
    list-style: none;
    color: #fff
}
.icons{
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-size: 2rem;
}
.icons li .fa:hover{
    transform: translateY(-10px);
    transition: 0.2s;
    color: rgb(127, 201, 159);
}

.thumb{
    margin-bottom: -50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    cursor: pointer;
    list-style: none;
    margin-left: 1rem;
}
.thumb .thumb-1{
    width: 220%;
}
.thumb .thumb-2{
    width: 150%;
}
.thumb .thumb-3{
    width: 40%;
}
.thumb .thumb-4{
    width: 200%;
}
.thumb .thumb-5{
    width: 200%;
}
.thumb-6{
    margin-top: -20px;
    width: 45%;
}
.thumb li:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}

.thumb-1:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}
.thumb-2:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}

.thumb-3:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}


/************** Renponsive ****************/

@media (max-width:991px){
    .bk {
        width: 80%;
        height: 118.8vh;
    }
    head{
        padding: 20px;
    }
    .logo{
        max-width: 60px;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../images/menu-1.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        top: 30px;
        right: 30px;
    }
    .toggle.active{
        background: url(../images/close-1.png);
        background-size: 35px;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        top: 30px;
        right: 30px;
    }
    .nav .menu.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #017143;
        z-index: 10;
    }
    .nav .menu{
        display: none;
    }
    section{
        padding: 20px;
    }
    .inform_sec{
        flex-direction: column;
        margin-top: 100px;
        margin-left: 10px;
    }
    .inform_sec h2{
        color: #fff;
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    span{
        color: #b4f0d7;
        font-size: 3rem;
        font-weight: bold;
    }
    p{
        width: 80%;
    }
    .img_1{
        margin-top: 1rem;
        margin-right: 320px;
    }
    .circle{
        clip-path: circle(300px at center bottom);
        width: 100%;
        height: 100%;
        top: 175px;
    }
    .thumb {
        margin-bottom: -200px;
        width: 80%;
        margin-left: 90px;
    }
    .icons{
       background: #017143;
       padding: 10px;
       right: 0;
       position: fixed;
       border-radius: 3px;
    }
}
@media (max-width:850px){
    .img_1{
        margin-right: 300px;
    }
    .thumb{
        width: 80%;
    }
}


@media (max-width:769px){
    .img_1{
        margin-right: 250px;
    }
}

@media (max-width:700px){
    .circle{
        clip-path: circle(260px at center bottom);
    }
}
@media (max-width:622px){
    .circle{
        clip-path: circle(210px at center bottom);
    }
    .img_1{
        margin-right: 230px;
        margin-top: 90px;
    }
    .thumb {
        margin-left: 20px;
    }
}

@media (max-width:559px){
    .circle{
        clip-path: circle(180px at center bottom);
    }
    .thumb li{
        margin: 15px;
    }
    .thumb {
        width: 80%;
        margin-left: 45px;
    }
    .img_1{
        margin-right: 200px;
        margin-top: 90px;
    }
    .icons {
        background: seagreen;
        padding: 10px;
        right: 25px;
        position: fixed;
        border-radius: 3px;
    }
}

@media (max-width:534px){
    .img_1{
       margin-top: 90px;
    }
}
@media (max-width:500px){
    /* .bk{
        width: 100%;
    } */
    .img_1{
       margin-top: 100px;
    }
    .thumb{
        width: 80%;
        margin-left: 30px;
    }
}

@media (max-width:483px){
    .img_1{
       margin-top: 120px;
       margin-right: 180px;
    }
    p{
        width: 100%;
    }
}

@media (max-width:473px){
    .bk{
        height: 130vh;
    }
    .circle{
        margin-top: 30px;
    }
    .img_1{
        margin-top: 50px;
        margin-right: 180px;
     }
}
@media (max-width:443px){
    .circle{
        margin-top: 60px;
    }
    .img_1{
        margin-top: 40px;
        margin-right: 150px;
    }
    .thumb {
        margin-bottom: -300px;
    }
    .thumb li{
        cursor: pointer;
        list-style: none;
        margin-left: 0;
        width: 10%;
    }
    .thumb .thumb-3 {
        width: 140%;
    }
    .thumb-6 {
        margin-top: 0px;
        width: 250%;
    }
}
@media (max-width:430px){
    .img_1{
        margin-top: -10px;
    }
}
@media (max-width:419px){
    .circle{
        margin-top: 60px;
    }
    .img_1{
        margin-top: 10px;
        margin-right: 150px;
    }
    .thumb {
        margin-bottom: -280px;
    }
    .thumb li{
        cursor: pointer;
        list-style: none;
        margin-left: 0;
        width: 30px;
    }
    .thumb .thumb-3 {
        width: 140%;
    }
    .thumb-6 {
        margin-top: 0px;
        width: 250%;
    }
}

@media (max-width:410px){
    .bk{
        width: 90%;
        margin-left: 8px;
    }
    .inform_sec h2 {
        font-size: 1.9rem;
    }
    p{
        width: 90%;
    }
    .circle{
        clip-path: circle(160px at center bottom);
       }
    .img_1{
        margin-top: 130px;
        margin-right: 150px;
    }
    .thumb li{
        cursor: pointer;
        list-style: none;
        margin-left: 0px;
    }
}

@media (max-width:404px){
    .circle{
        clip-path: circle(190px at center bottom);
       }
    .img_1{
        margin-top: 100px;
        margin-right: 180px;
    }
    .icons{
        right: 10px;
    }
    .thumb{
        width: 100%;
    }
}
@media (max-width:379px){
    .img_1{
        margin-top: 110px;
        margin-right: 150px;
    }
}
@media (max-width:375px){
    .circle{
        clip-path: circle(160px at center bottom);
       }
    .img_1{
        margin-top: 80px;
    }
    .icons{
        right: 10px;
    }
}

@media (max-width:364px){
    .circle{
        margin-left: 12px;
    }
    .img_1{
        margin-top: 30px;
        margin-right: 150px;
    }
}
@media (max-width:334px){
    .circle{
        margin-top: 70px;
    }
    .img_1{
        margin-top: 30px;
        margin-right: 120px;
    }
    .thumb {
        margin-bottom: -300px;
    }
}
@media (max-width:314px){
    .circle{
        margin-top: 80px;
    }
    .bk{
        height: 130vh;
    }
    .thumb {
        margin-bottom: -320px;
    }
}
@media (max-width:290px){
    .bk{
        width: 100%;
    } 
    .thumb {
        margin-left: 10px;
    }
    .circle{
        margin-left: 20px;
    }
}
@media (max-width:280px){
    /* .bk{
        width: 100%;
    }    */
    .img_1{
        margin-top: 70px;
    }
    span{
        font-size: 2.2rem;
    }
   .thumb {
    width: 250px;
   }
}
@media (max-width:260px){
    .img_1{
        margin-top: 50px;
    }
}

@media (max-width:257px){
    .img_1{
        margin-top: 10px;
    }
}
@media (max-width:235px){
    .circle{
        margin-top: 150px;
    }
    .img_1{
        margin-top: 80px;
    }
     .thumb {
        margin-bottom: -360px;
    }
}