*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    background: seagreen;
}
.bk{
    width: 90%;
    height: 105vh;
    margin: auto;
    background-color: #017143;
    box-shadow: #b4f0d7;
}

.logo{
    width: 80px;
    margin-left: 30px;
    margin-top: 30px;
}
.nav .menu-sec{
    float: right;
    display: flex;
    margin-top: -80px;
    padding-right: 70px;
}
.menu-sec li{
    cursor: pointer;
    list-style: none;
    color: aliceblue;
    margin: 25px;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.hvr:hover{
    background: seagreen;
    padding: 4px 12px;
    color: #fff;
    border-radius: 35px;
}
.grn{
    background: seagreen;
    padding: 4px 12px;
    color: #fff;
    border-radius: 35px;
}
.img_1{
    width: 25%;
    float: right;
    margin-right: 20%;
    margin-top: -20rem;
    transform: scale(0.8);
}
.circle{
    position: absolute;
    top: 0;
    left: 0; 
    width: 95%;
    height: 105vh;
    background: rgb(241, 127, 127);
    /* background: #017143; */
    clip-path: circle(600px at right 750px);
}
h2{
    color: aliceblue;
    margin-top: 90px;
    font-size: 3rem;
}
p{
    width: 49%;
    color: #fff;
}
span{
    cursor: pointer;
    /* color: rgb(33, 136, 77); */
    color: chocolate;
    font-weight: 800;
}

.inform_sec{
    margin-left: 50px;
}
button{
    padding: 0 8px;
    background: seagreen;
    color: #fff;
    border: none;
}
.icons li{
    cursor: pointer;
    list-style: none;
    color: #fff
}
.icons{
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-size: 2rem;
}
.icons li .fa:hover{
    transform: translateY(-10px);
    transition: 0.2s;
    color: rgb(127, 201, 159);
}

.thumb{
    margin-bottom: -50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    cursor: pointer;
    list-style: none;
    margin-left: 3rem;
}
.thumb .thumb-1{
    width: 220%;
}
.thumb .thumb-2{
    width: 150%;
}
.thumb .thumb-3{
    width: 40%;
}
.thumb .thumb-4{
    width: 200%;
}
.thumb .thumb-5{
    width: 200%;
}
.thumb .thumb-6{
    margin-top: -20px;
    width: 45%;
}
.thumb li:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}

.thumb-1:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}
.thumb-2:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}

.thumb-3:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}


/************** Renponsive ****************/

@media (max-width:991px){
    .bk {
        width: 80%;
        height: 118.8vh;
    }
    head{
        padding: 20px;
    }
    .logo{
        max-width: 60px;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../images/menu-1.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        top: 30px;
        right: 30px;
    }
    .toggle.active{
        background: url(../images/close-1.png);
        background-size: 35px;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        top: 30px;
        right: 30px;
        z-index: 10;
    }
    .nav .menu-sec.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #017143;
    }
    .nav .menu-sec{
        display: none;
    }
    section{
        padding: 20px;
    }
    .inform_sec{
        flex-direction: column;
        margin-top: 100px;
        margin-left: 10px;
    }
    .inform_sec h2{
        color: #fff;
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    span{
        color: #b4f0d7;
        font-size: 3rem;
        font-weight: bold;
    }
    p{
        width: 80%;
    }
    .img_1{
        margin-top: 3rem;
        margin-right: 40%;
    }
    .circle{
        clip-path: circle(35% at center bottom);
        width: 100vw;
        height: 100vh;
        top: 175px;
        /* margin-left: 60px; */
    }
    .thumb {
        margin-bottom: -200px;
        width: 550px;
        margin-left: 10px;
    }
    .icons{
       background: #017143;
       padding: 10px;
       right: 0;
       position: fixed;
       border-radius: 3px;
    }
}

@media (max-width:580px){
    .thumb{
        width: fit-content;
        margin-left: -20px;
    }
    .thumb li{
        margin-left: 1rem;
        width: 30px;
    }
    .icons{
        right: 20px;
    }
    .thumb .thumb-3 {
        width: 150%;
    }
    .thumb .thumb-6 {
        margin-top: -20px;
        width: 290%;
    }
}
@media (max-width:465px){
    .circle {
        clip-path: circle(30% at center bottom);
    }
}

@media (max-width:437px){
    .inform_sec h2{
        font-size: 1.6rem;
    }
    span {
        font-size: 2.3rem;
    }
    .img_1{
        margin-top: 6rem;
    }
}

@media (max-width:375px){
    .img_1 {
        margin-top: 3rem;
    }
}

@media (max-width:365px){
    .toggle{
        top: 50px;
    }
    span {
        font-size: 1.8rem;
    }
    p {
        width: 100%;
    }
    .thumb{
        width: 60%;
    }
    .circle {
        clip-path: circle(130px at center bottom);
    }
}
@media (max-width:320px){
.inform_sec h2 {
    margin-top: -70px;
  }
}
@media (max-width:306px){
    .img_1 {
        margin-top: 2rem;
    }
}

@media (max-width:280px){
    .img_1 {
        margin-top: 5rem;
    }
}